.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;

}

.user-wave-count {
  text-align: center;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 8px;
}

.submitButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  width: 100%;
  border: 0;
  border-radius: 8px;
  color: white;
  background-color: green;
  font-size: 20px;
}

.user-input{
    display: block;
    width: 97%;
/*     padding: .5rem .8rem .5rem .8rem; */
    padding: 8px;
/*     margin: .9vw 0 ; */
    margin-top: 16px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 20px;
}